body {
    max-width: 1920px;
}


/* header styles */
.search-icon {
    width: 20px;
    height: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1473E6;
    align-items: center;
    padding: 10px 77px;
}

ol {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

li {
    margin-left: 25px;
    color: white;
}

li:hover {
    color: black;
}

header h1 {
    font-size: 45px;
    color: white;
}

.search {
    display: flex;
    flex-direction: row-reverse;
    width: 350px;
}

.search-input {

    background-color: #1473E6;
    border: none;
    animation-name: search;
    width: 0px;
    transition: width 2s;
    color: white;
}

.block {
    display: block;
    border-bottom: 1.5px solid white;
    width: 100%;
}

/* first- section styles */

.first-section {
    
    height: 780px;
    background-repeat: no-repeat;
    display: flex;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}

.registration-form {
    background-color: white;
    height: 60%;
    padding: 90px 100px;
    margin-left: -100px;
    box-shadow: rgba(0, 0, 0, 0.35) 10px 40px 40px;
}

.sign {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.sign h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sign p {
    font-weight: bold;
}

#first-name {
    margin-bottom: 20px;
    width: 260px;
    height: 30px;
}

#last-name {
    margin-bottom: 20px;
    width: 260px;
    height: 30px;
}

.next {
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #707070;
    color: white;
    border: none;
    padding: 15px 30px;
}

.registration-form-text {
    margin-left: 55px;
}

.registration-form-text h1 {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.registration-form-text p {
    margin-bottom: 5px;

}