body {
    max-width: 1920px;
    width: 100%;
}


/* header styles */
.search-icon {
    width: 20px;
    height: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1473E6;
    align-items: center;
    padding: 10px 77px;
}

ol {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

li {
    margin-left: 25px;
    color: white;
}

li:hover {
    color: black;
}

header h1 {
    font-size: 45px;
    color: white;
}

.search {
    display: flex;
    flex-direction: row-reverse;
    width: 350px;
}

.search-input {

    background-color: #1473E6;
    border: none;
    animation-name: search;
    width: 0px;
    transition: width 2s;
    color: white;
}

.block {
    display: block;
    border-bottom: 1.5px solid white;
    width: 100%;
}

/* first- section styles */

.first-section {

    height: 780px;
    background-repeat: no-repeat;
    display: flex;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.registration-form {
    background-color: white;
    height: 60%;
    padding: 90px 100px;
    margin-left: -100px;
    box-shadow: rgba(0, 0, 0, 0.35) 10px 40px 40px;
}

.sign {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.sign h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sign p {
    font-weight: bold;
}

#first-name {
    margin-bottom: 20px;
    width: 260px;
    height: 30px;
}

#last-name {
    margin-bottom: 20px;
    width: 260px;
    height: 30px;
}

.next {
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #707070;
    color: white;
    border: none;
    padding: 15px 30px;
}

.registration-form-text {
    margin-left: 55px;
}

.registration-form-text h1 {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.registration-form-text p {
    margin-bottom: 5px;

}

/* section second styles */

.second-section {

    background-image: linear-gradient(to right, #FF8B00, #ff8c008e, #ff8c008e, #FF8B00);
    width: 100%;
    height: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}


.profile-section {

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    margin-left: 50px;

}

.box {
    display: flex;

    align-items: center;
}


.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
    padding: 40px 0;
}

.left-container h1 {
    font-size: 54px;
    font-weight: bold;
    max-width: 300px;
}

.left-container-text {
    display: flex;

    margin-left: 50px;
    margin-bottom: 50px;

}

.left-container-text p {
    max-width: 200px;
}

.right-container {
    display: flex;
    justify-content: center;
    order: 2;
}

.profileAvatar {
    margin-right: 20px;
}

.medias {
    display: flex;
    justify-content: space-between;

}

.profileText p:last-of-type {
    margin: 8px 0;
}

#right-container-image {
    display: block;
}

.box div {
    width: 100%;
}


.right-box {
    display: none;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
    padding: 20px;

}



/* style for section third  */

.section-third {
    width: 100%;
    height: 1000px;
    background-image: url(./imgs/section-third.background.png);
    background-size: cover;
}

.section-third-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-third-text h1 {
    font-size: 54px;
    font-weight: bold;
    margin-top: 250px;
}

.section-third-text p {
    font-size: 20px;
    margin-top: 20px;
}



.containers {
    position: relative;
    width: 100vw;
    display: flex;
    background-color: aqua;
    overflow: hidden;
    height: 50vh;
}

.colorBox {
    position: absolute;
    width: 20vw;
    height: 50vh;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s linear;
}

.cards {
    display: flex;
    margin-top: 170px;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: white;
    margin-right: 24px;
    transition: left 2s;
    transition-timing-function: linear;
}


.card-profile {
    display: flex;
    margin-top: 30px;
}

.card-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}